.App {
  text-align: center;
}

.hero-logotype {
  width: 100%;
  margin-bottom: 0px;
  font-family: "Dancing Script", cursive;
  font-size: 3em;
  color: white;
}

.hero-contact a{
  display: flex;
  font-size: 0.5em;
  font-family: "Roboto", sans-serif;
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
